
*{
	scrollbar-color: #635f5f #302e2e;
	scrollbar-width: thin;
}

body{
	background-color: #302e2e;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #302e2e;
}

*::-webkit-scrollbar-thumb {
  background-color: #635f5f;
}

.show .nl-copyright:not(.active) {
	color: #fff !important;
}
.callout a {
	color: #000;
	text-decoration: underline;
}

.callout a:hover {
	color: #b0b0b0;
}
.callout a:active {
	color: #b0b0b0;
}
.callout a:visited {
	color: #b0b0b0;
}
.callout a {
	color: #b0b0b0;
}

.thumbnails li img {
	width: 60px;
}
.dropdown-menu-lg {
	max-width: none;
}

.content{
    background-color: #2e2e2e;
		color: white;
}

.content-header{
	background-color: #302e2e;
	color: white;
}

.info-box-content{
	background-color: #302e2e;
	color: white;
}

.info-box, .card-header{
	background-color: #302e2e;
	border-radius: 0 0;
}

#dropdownMenuLink{
	color: white;
}

.text-dark{
	color: white;
}

.form-control{
	background-color: #454545;
	color: white;
	border: 1px solid #454545;
}

.form-control:focus{
	background-color: #545454;
	color: white;
	box-shadow: 0 0 8px #616161 !important;
	border: 1px solid #616161 !important;
}

.form-control:active, .form-control:read-only, .form-control:-moz-read-only {
	background-color: #454545;
	color: white;
}

.form-control::placeholder{
	color: white;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #454545;
    opacity: 1;
		color: white;
}

.content-wrapper {
    background: #2e2e2e;
}

.card-body{
		background-color: #302e2e;
		color: white;
}


.main-footer{
	background-color: #2e2e2e;
	color: white;
	margin-left: auto !important;
	border-top: none;

}

.btn-default{
	background-color: #777575;
	border: 1px solid #646464;
}



.border-bottom {
  border-bottom: 1px solid #474747 !important;
}

.breadcrumb-item.active {
  color: #fff;
}

.callout {
	background-color: #353535;
}

#InputSignature{
	background-color:#5e5e5e !important;
	border: 1px solid #646464;
}

.cke_chrome {
    display: block;
    border: 0px solid #fff !important;
    padding: 0;
}


.cke_wysiwyg_frame,
.cke_wysiwyg_div {
 background-color:#454545 !important;
 border: 1px solid #646464;
}

.cke_top {
    border-bottom: 1px solid #4a4a4a !important;
    background: #4a4a4a !important;
    padding: 6px 8px 2px;
    white-space: normal;
}

a.cke_button_off:hover, a.cke_button_off:focus, a.cke_button_off:active {
    background: #636363 !important;
		color: white;
    border: 1px #636363 solid !important;
    padding: 3px 5px;
}

.cke_combo_on a.cke_combo_button, .cke_combo_off a.cke_combo_button:hover, .cke_combo_off a.cke_combo_button:focus, .cke_combo_off a.cke_combo_button:active {
    background: #4f4f4f !important;
    border: 1px solid #4f4f4f !important;
}

.cke_bottom {
    border-top: 0px solid #fff !important;
    background: #4d4d4d !important;
}

a.cke_button_on {
    background: #4a4a4a !important;
    border: 1px #4a4a4a solid !important;
}

.dropdown-menu {
		background-color: #424242 !important;
    color: #a8a7a7 !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #454545;
}

.dropdown-item {
    color: #fff;
}

.page-item .page-link {
    z-index: 1;
    color: red;
    background-color: #4a4a4a;
    border-color: #4a4a4a;
}


.sidebar{
    background-color: #333030 !important;
}

.brand-link{
    background-color: #333030 !important;
		border-bottom: 0px solid #fff !important;
}

.main-header{
	background-color: #302e2e !important;
	border-bottom: 0px solid #fff !important;
}


.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active {
    color: #fff !important;
    background-color: #464545 !important;
}

.list-group-unbordered > .list-group-item{
	background-color: #302e2e !important;
}

.login-page{
	background-color: #302e2e !important;
}

.cke_toolbar {
    float: left;
		color: white !important;
}

.table-bordered {
    border: none !important;
}

.table-bordered td, .table-bordered th {
    border: none !important;
	}

.table{
	background: #2d2a2a !important;
}

.table thead th {
    vertical-align: bottom;
		background-color: #3c3c3c !important;
		border-bottom: 1px solid #3c3c3c !important;
}

.table thead {
		background-color: #3c3c3c !important;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 0px solid #fff !important;
}

.user-panel {
    border-bottom: 0px solid #fff !important;
}

.modal-header{
	background-color: #302e2e !important;
	border-bottom: 1px solid #4a4a4a !important;
	border-top-left-radius: .0rem !important;
	border-top-right-radius: .0rem !important;
	color: white !important;
}

.modal-body{
	background-color: #302e2e !important;
	color: white !important;
}

.modal-footer{
	background-color: #302e2e !important;
	border-top: 1px solid #4a4a4a !important;
	color: white !important;
}


.nav-pills .nav-link {
    color: white !important;
}

.sidebar-dark-primary .nav-treeview > .nav-item > .nav-link.active, .sidebar-dark-primary .nav-treeview > .nav-item > .nav-link.active:hover {
    color: #fff !important;
    background-color: #464545 !important;
}



.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #fff !important;
  background-color: #D8EBEB;
  border: 1px solid #346767;
}
.page-item.disabled .page-link {
  color: #fff;
  pointer-events: none;
  cursor: auto;
  background-color: #6b6b6b;
  border-color: #6b6b6b;
}
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}
.page-link:focus, .page-link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #7d7d7d;
  border-color: #7d7d7d;
}

.popover-body{
	background-color: #302e2e !important;
	color: #fff;
}


.popover-header{
	background-color: #4a4848 !important;
	color: #fff;
	border-bottom: 0px solid #fff !important;
}

.popover-footer{
	background-color: #302e2e !important;
	color: #fff;
}

.cke_button_icon{
    filter: brightness(0) invert(1) !important;
}

.cke_combo_text {
    color: #fff !important;
}

.text-dark{
	color: #fff !important;
}

.odd{
	cursor: pointer !important;
}

#dropdownMenuLink {
    color: #aaa0a0 !important;
}


/*TOX*/
.tox-tinymce {
    border: 0px solid #ccc !important;
}


.tox .tox-toolbar {
    background-color: #545454 !important;
		color: white !important;
    border-top: 0px solid #ccc !important;
		border-bottom: none !important;
}

.tox-edit-area__iframe{
	background-color: #454545 !important;
}

.tox .tox-statusbar{
	background-color: #303030 !important;
	border-top: 0px solid #303030 !important;
	color: #fff !important;
	margin-bottom: 5px !important;
}

.tox .tox-tbtn {
    color: #fff !important;
}

.tox-toolbar__group{
	border: none !important;
	color: #fff !important;
}

.tox .tox-tbtn svg {
 display:block;
 fill:#fff !important;
}

.tox .tox-tbtn:hover {
	background: #616161 !important;
	box-shadow: none;
	color: #fff;
}

.tox-tbtn--enabled {
	background: #666666 !important;
	box-shadow: none !important;
	color: #b5b5b5 !important;
	border: none !important;
}

.tox-tbtn{
	background: #454545;
}

.tox-tbtn--select{
	background: #454545 !important;
}

.tox-split-button{
	background: #454545 !important;
	border: none !important;
}

.tox-split-button:hover{
	background: #454545 !important;
	border: none !important;
}

.tox-split-button__chevron .tox-tbtn--enabled{
	background: #454545 !important;
	border: none !important;
}

.tox .tox-edit-area{
	border-top: none !important;
}

p {
	color: #fff !important;
}



input[type=submit]:hover{
	background: #436e9c;
	color: #fff;
	border-radius: 12px;
	width:auto;
	transition: 0.3s;
	border: none !important;
	padding: 8px 35px;
}

input[type=submit]::after{
	background: #436e9c;
	color: #fff;
	border-radius: 12px;
	width:auto;
	transition: 0.3s;
	border: none !important;
	padding: 8px 35px;
}

input[type=submit]:disabled{
	background: #787878;
	color: #fff;
	border-radius: 12px;
	width:auto;
	border: none !important;
	padding: 8px 35px;
}

input[type=submit] {
	background: #375A7F;
	color: #fff;
	border-radius: 12px;
	width:auto;
	border: none !important;
	padding: 8px 35px;
	box-shadow: none !important;
}

.btn-login{
	background: #269600;
	color: #fff;
	border-radius: 25px;
	width:100%;
	border: none !important;
	padding: 8px 35px;
	box-shadow: none !important;
}

.btn-login:hover{
	background: #1e7500;
	transition: 0.3s;
}


.btn-login-cancel{
	background: none;
	color: #fff;
	border-radius: 25px;
	width:100%;
	border: none !important;
	padding: 8px 35px;
	border: 1px solid #b53a3a !important;
	box-shadow: none !important;
}

.btn-login-cancel:hover{
	background: #b53a3a;
	color: #fff;
	transition: 0.3s;
	border: 1px solid #b53a3a !important;
}

.btn:not(.btn-sm){
	border-radius: 12px;
}

.login-box input {
	border-radius: 12px;
}


.breadcrumb {
    background-color: #2e2e2e !important;
}

.error_log {
    background-color: #454545  !important;
		color: #fff !important;
}


.sidebar-dark-primary {
    background-color: #333030 !important;
}

.close {
    color: #fff !important;
}

.cke_button_label {
    color: #fff !important;
}

.cke_source.cke_reset.cke_enable_context_menu.cke_editable.cke_editable_themed.cke_contents_ltr {
    background: #454545;
		color: #fff;
}

.img-thumbnail {
    background-color: #383838 !important;
    border: 1px solid #383838 !important;
}

.custom-file-label {
 color:#fff;
 background-color:#5e5e5e !important;
 border:1px solid #5e5e5e !important;
}
.custom-file-label::after {
 color:#fff !important;
 content:"Browse";
 background-color:#525252 !important;
 border:1px solid #525252 !important;
 outline: none !important;
}

.infoButton{
	background:#db8400 !important;
	border:none !important;
	color:#fff !important;
}

.custom-select {
    color: #fff !important;
    background: #525252 url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .55rem center;
    border:none !important;
}

.alert-dark {
    color: #fff !important;
    background-color: #4f4f4f !important;
    border-color: #4f4f4f !important;
}

.dropzone{
	background: #4a4a4a !important;
}
